<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="./index.js" type="module"></script>
</head>

<body>
  <div class="flex justify-center h-screen items-center">
    <div class="m-auto flex flex-col items-center">
      <button id="github-button" class="bg-[#1B1F23] text-white flex flex-row items-center p-3 cursor-pointer rounded hover:bg-[#0b0c0e]">
        <img src="/assets/github.svg" width="30" height="30" alt="GitHub"/>
        <span class="pl-2">Sign in with GitHub</span>
      </button>
    </div>
  </div>
</body>

</html>